<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
   	<title>EventsApp</title>
   	
   	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    
    <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	
	<header>
	    <nav th:fragment="header">
	        <div class="nav-wrapper">
	            <a href="/events" class="brand-logo">Events App</a>
	            <ul id="nav-mobile" class="right hide-on-med-and-down">
	                <li><a href="/events" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Event List</a></li>
	            </ul>
	        </div>
	    </nav>
	    
	<div class="container row" style="margin-top:50px; color: #26a69a;">
	    <hr>
 			<h3 class="center-align">Event Details</h3>
 		<hr>
 	</div>
	    
	    
	</header>
	
    <table class="container" style="margin-top:100px;">
	    
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Place</th>
	            <th>Date</th>
	            <th>Time</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="event : ${event}">
	            <td><span th:text="${event.name}"></span></td>
	            <td><span th:text="${event.place}"></span></td>
	            <td><span th:text="${event.date}"></span></td>
	            <td><span th:text="${event.time}"></span></td>
	        </tr>
	    </tbody>

	</table>
 	
	<th:block th:include="messageValidation"></th:block>

	<div class="container row" style="margin-top:130px; color: #26a69a;">
		<hr>
 			<h3 class="center-align">Add Guest</h3>
 		<hr>
	    <form method="post" class="col s12" style="margin-top:100px;">
	        
	        <div class="row">
		        <div class="input-field col s12">
		            <i class="material-icons prefix">account_circle</i>
		            <input id="icon_prefix" type="text" class="validate" name="name">
		            <span class="helper-text" data-error="wrong" data-success="">Must be at least 4 letters</span>
		            <label for="icon_prefix">Name</label>
		        </div>
	            <div class="input-field col s6">
	                <i class="material-icons prefix">person_outline</i>
	                <input id="icon_prefix" type="text" class="validate" name="cpf">
	                <span class="helper-text" data-error="wrong" data-success="">Do not leave blank</span>
	                <label for="icon_prefix">Cpf</label>
	            </div>
	            <div class="input-field col s6">
	                <i class="material-icons prefix">phone</i>
	                <i class="material-icons prefix">github</i>
	                <input id="icon_telephone" type="tel" class="validate" name="cellphone">
	                <label for="icon_telephone">Cell phone (__) _____-___</label>
	            </div>
	        </div>
	        
	        <button class="waves-effect waves-light btn" type="submit">Save</button>
	        
	    </form>
	</div>
	
	<div class="container" style="margin-top:100px; color: #26a69a;">
	    <hr>
    	<h3 class="center-align">Guest List</h3>
    	<hr>
	
	</div>
	
	<table class="container" style="margin-top:80px">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Cpf</th>
	            <th>Cell phone</th>
	            <th>Delete</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="guest : ${guests}">
	            <td><span th:text="${guest.name}"></span></td>
	            <td><span th:text="${guest.cpf}"></span></td>
	            <td><span th:text="${guest.cellphone}"></span></td>
	            <td><a th:href="${(#mvc.url('EC#deleteGuest').arg(0, guest.cpf)).build()}"><i class="material-icons left">delete</i></a></td>
	        </tr>
	    </tbody>

	</table>
    
</div>
 
 
 <div th:replace="fragments/fragment :: footer"></div>
 
  <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>