<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
   	<title>EventsApp</title>
   	
   
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


	

     	
</head>
<body>
	
	<header>
	    <nav th:fragment="header">
	        <div class="nav-wrapper">
	            <a href="/events" class="brand-logo">Events App</a>
	            <ul id="nav-mobile" class="right hide-on-med-and-down">
	                <li><a href="/events" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Event List</a></li>
	            </ul>
	        </div>
	    </nav>
	</header>

	<h1></h1>
	
	
	
	<form class="container" method="post">
		
		<div class="row">
			<div style="margin-bottom:70px">
    			<h3 class="center-align">Register Event</h3>
  			</div>
			
			<th:block th:include="messageValidation"></th:block>
			
			<div class="input-field col s12">
				<input type="text" value="" name="name" placeholder="Name"/>
				<span class="helper-text" data-error="wrong" data-success="">Must be at least 4 letters</span>
			</div>
		
			<div class="input-field col s6">
				<input type="text" value="" name="place" placeholder="Place"/>
				<span class="helper-text" data-error="wrong" data-success="">Do not leave blank</span>
			</div>
	
			<div class="input-field col s3">
				<input type="text" name="date" class="datepicker" placeholder="Date">
				<span class="helper-text" data-error="wrong" data-success="">Do not leave blank</span>
			</div>
			
			<div class="input-field col s3">
				<input type="text" name="time" class="timepicker" placeholder="Time">
				<span class="helper-text" data-error="wrong" data-success="">Do not leave blank</span>
			</div>			
			<div class="input-field col s3">
				<button class="waves-effect waves-light btn" type="submit">Save</button>
			</div>
		
		
		</div>	
		
		
		
	</form>
	
	<div th:replace="fragments/fragment :: footer"></div>
   	 
            
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"></script>
	
 	<script>
	    document.addEventListener('DOMContentLoaded', function () {
	        var options = {
	            setDefaultDate: true
	        };
	        var elems = document.querySelector('.datepicker');
	        var instance = M.Datepicker.init(elems, options);
	        
	    });
	    
	    document.addEventListener('DOMContentLoaded', function() {
	    	var options = {
	    		defaultTime: true
	    	}
    		var elems = document.querySelectorAll('.timepicker');
    		var instances = M.Timepicker.init(elems, options);
  		});
	    
	    
	</script>

    	
    
</body>
</html>

