<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
   	<title>EventsApp</title>
   	
   	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    
    <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<header>
	    <nav th:fragment="header">
	        <div class="nav-wrapper">
	            <a href="/events" class="brand-logo">Events App</a>
	            <ul id="nav-mobile" class="right hide-on-med-and-down">
	                <li><a href="/registerEvent" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Register Event</a></li>
	            </ul>
	        </div>
	    </nav>
	</header>

    <h3></h3>
    
    <table class="container">
        <thead>
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Date</th>
                <th>Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td><a th:href="${(#mvc.url('EC#eventDetails').arg(0, event.id)).build()}"><span th:text="${event.name}"></span></a></td>
                <td><span th:text="${event.place}"></span></td>
                <td><span th:text="${event.date}"></span></td>
                <td><span th:text="${event.time}"></span></td>
                <td><a th:href="${(#mvc.url('EC#deleteEvent').arg(0, event.id)).build()}"><i class="material-icons left">delete</i></a></td>
            </tr>
        </tbody>


    </table>
    
    <div th:replace="fragments/fragment :: footer"></div>
    
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>